@using Appointment.Frontend.Components.Base
@using Configuration.Entities

@inherits BaseFormComponent<Service>

<div class="mt-2">
    
    <RadzenRow Gap="1rem" RowGap="0.5rem">

        <RadzenColumn class="rz-p-5 d-flex flex-column custom-column">
            <RadzenLabel Text="Nombre" />
            <RadzenTextBox @bind-Value="@Entity.Name" />
            <ValidationMessage For="@(() => @Entity.Name)" />
        </RadzenColumn>

        <RadzenColumn class="rz-p-5 d-flex flex-column custom-column">
            <RadzenLabel Text="Precio" />
            <RadzenTextBox @bind-Value="@Entity.Name" />
            <ValidationMessage For="@(() => @Entity.Name)" />
        </RadzenColumn>

        <RadzenColumn class="rz-p-5 d-flex flex-column custom-column">
            <RadzenLabel Text="Estado" />
            <RadzenTextBox @bind-Value="@Entity.Name" />
            <ValidationMessage For="@(() => @Entity.Name)" />
        </RadzenColumn>

        <RadzenColumn class="rz-p-5 d-flex flex-column custom-column">
            <RadzenLabel Text="Catálogo" />
            <RadzenTextBox @bind-Value="@Entity.Name" />
            <ValidationMessage For="@(() => @Entity.Name)" />
        </RadzenColumn>

        <RadzenColumn Size="12" class="rz-p-5 d-flex flex-column custom-column">
            <RadzenLabel Text="Description" />
            <RadzenTextBox @bind-Value="@Entity.Description" />
            <ValidationMessage For="@(() => @Entity.Description)" />
        </RadzenColumn>
    </RadzenRow>

</div>
